<%- include('./fragments/header.ejs') %>

			<div id="prawy">
				<div id="lewy_srodek">

					<script type="application/javascript" src="/js/validationEmpForm.js"></script>
					<h2><%= pageTitle %></h2>

					<form class="form" method="post" novalidate ><div id="formularz">
							<input type="hidden" name="_id" value="<%= sluchacz._IdSluchacza %>">


							Podaj swoje imię: * <input type="text" name="Imie" id="Imie" placeholder="2-60 znaków" value="<%= sluchacz.Imie %>"
									<%= (formMode == 'showDetails') ? 'disabled' : '' %>/><br /> <br />
						Podaj swoje nazwisko: * <input type="text" name="Nazwisko" id="Nazwisko" placeholder="2-60 znaków" value="<%= sluchacz.Nazwisko %>"
									<%= (formMode == 'showDetails') ? 'disabled' : '' %>/><br /> <br />
						Podaj date dolaczenia: * 	<input type="text" name="Data_dolaczenia" id="Data_dolaczenia" value="<%= sluchacz.createdAt.toLocaleString() %>" disabled/><br /> <br />

						<br /><br /><br />
						<% if (formMode != 'showDetails') { %>
						<input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
						<% } %>
						<input type="reset" value="Wyczyść dane" />
					</div></form>

					<% if ((formMode == 'showDetails' || formMode == 'edit') && sluchacz.Rezerwacjes.length) { %>
						<h2>
							Szczegóły Rezerwacji
						</h2>
						<table class="tg">
							<thead>
							<tr>
								<th class="tg-0lax">Numer rezerwacji</th>
								<th class="tg-0lax">Miejsce Koncertu</th>
								<th class="tg-0lax">Data koncertu</th>
								<th class="tg-0lax">Ilość osób</th>
								<th class="tg-0lax">Szczegóły</th>
								<th class="tg-0lax">Edytuj</th>
								<th class="tg-0lax">Usuń</th>
							</tr>
							</thead>
							<tbody>
							<% for (let rezerwacja of sluchacz.Rezerwacjes) { %>
								<tr>
									<td class="tg-0lax"><%= rezerwacja._IdRezerwacji %></td>
									<td class="tg-0lax"><%= rezerwacja.Koncerty.Miejsce_koncertu %></td>
									<td class="tg-0lax"><%= rezerwacja.Koncerty.Data_koncertu.toLocaleString() %></td>
									<td class="tg-0lax"><%= rezerwacja.Ilosc_osob %></td>
									<td class="tg-0lax"> <a href="/rezerwacje/details/<%= rezerwacja._IdRezerwacji %>">
											<button>Szczegóły</button>
										</a></td>
									<td class="tg-0lax"> <a href="/rezerwacje/edit/<%= rezerwacja._IdRezerwacji %>">
											<button>Edytuj</button>
										</a></td>
									<td class="tg-0lax"><a href="/rezerwacje/delete/<%= rezerwacja._IdRezerwacji %>">
											<button>Usuń</button>
										</a></td>
								</tr>
							<% } %>
							</tbody>
						</table>
					<% } %>

					<a href="/sluchacze">
						<button>Powrót listy osób</button>
					</a>

				</div>

<%- include('./fragments/footer.ejs') %>
