<%- include('./fragments/header.ejs') %>
<% if (flashMessage) { %>
    <div id="flashMessage">
        <%= flashMessage %>
    </div>
<% clearFlashMessage()%>
<% } %>

        <div id="prawy">
            <div id="lewy_srodek">

                <h2>Koncerty</h2>

                <table class="tg">
                    <thead>
                    <tr>
                        <th class="tg-0lax">Miejsce Koncertu</th>
                        <th class="tg-0lax">Data koncertu</th>
                        <th class="tg-0lax">Maksymalna ilość miejsc</th>
                        <th class="tg-0lax">Czas trwania koncertu</th>
                        <%   if (user && user.isAdmin) { %>
                        <th class="tg-0lax">Szczegóły</th>
                        <th class="tg-0lax">Edytuj</th>
                        <th class="tg-0lax">Usuń</th>
                        <%}%>

                    </tr>

                    </thead>
                    <tbody>
                    <% for (let koncert of koncerty){ %>
                        <tr>
                        <td class="tg-0lax"><%= koncert.Miejsce_koncertu %></td>
                        <td class="tg-0lax"><%= koncert.Data_koncertu %></td>
                        <td class="tg-0lax"><%= koncert.Maksymalna_ilosc_miejsc %></td>
                        <td class="tg-0lax"><%= koncert.Czas_trwania_koncertu %></td>
                            <%   if (user && user.isAdmin) { %>
                        <td class="tg-0lax"> <a href="/koncerty/details/<%=koncert._IdKoncertu%>">
                                    <button>Szczegóły</button>
                                </a></td>
                        <td class="tg-0lax"> <a href="/koncerty/edit/<%=koncert._IdKoncertu%>">
                                    <button>Edytuj</button>
                                </a></td>
                        <td class="tg-0lax"><a href="/koncerty/delete/<%=koncert._IdKoncertu%>">
                                    <button>Usuń</button>
                        </a></td>
                        <%}%>

                    </tr>
                    <% } %>

                    </tbody>
                </table>
                </br>
                <%   if (user && user.isAdmin) { %>
                <a href="/koncerty/add">
                    <button>Dodaj nowy koncert</button>
                </a>
                <%}%>





            </div>




<%- include('./fragments/footer.ejs') %>
