<%- include('./fragments/header.ejs') %>

<% if (flashMessage) { %>
    <div id="flashMessage">
        <%= flashMessage %>
    </div>
    <% clearFlashMessage()%>
<% } %>

        <div id="prawy">
            <div id="lewy_srodek">

                <h2>Słuchacze</h2>

                <table class="tg">
                    <thead>
                    <tr>
                        <th class="tg-0lax">Imię</th>
                        <th class="tg-0lax">Nazwisko</th>
                        <th class="tg-0lax">Szczegóły</th>
                        <th class="tg-0lax">Edytuj</th>
                        <th class="tg-0lax">Usuń</th>

                    </tr>
                    </thead>
                    <tbody>
                        <% for (let sluchacz of sluchacze){ %>
                            <tr>
                                <td class="tg-0lax"><%= sluchacz.Imie %></td>
                                <td class="tg-0lax"><%= sluchacz.Nazwisko %></td>
                                <td class="tg-0lax"> <a href="/sluchacze/details/<%=sluchacz._IdSluchacza%>">
                                    <button>Szczegóły</button>
                                </a></td>
                                <td class="tg-0lax"> <a href="/sluchacze/edit/<%=sluchacz._IdSluchacza%>">
                                    <button>Edytuj</button>
                                </a></td>
                                <td class="tg-0lax"><a href="/sluchacze/delete/<%=sluchacz._IdSluchacza%>">
                                        <% if (!sluchacz.isAdmin){ %><button>Usuń</button> <%}%>
                                </a></td>

                            </tr>
                        <% } %>
                    </tbody>
                </table>
                </br>

                <a href="/sluchacze/add">
                    <button>Dodaj nową osobę</button>
                </a>





            </div>




<%- include('./fragments/footer.ejs') %>
