<%- include('./fragments/header.ejs') %>

        <div id="prawy">
            <div id="lewy_srodek">

                <h2><%= pageTitle %></h2>

                <form method="POST" novalidate onsubmit="return validateFormKoncerty();">
                    <div id="formularz2" >
                    <%= (formMode == 'showDetails') ? 'Miejsce koncertu:' : 'Podaj miejsce koncertu: *' %> <input
                                id="Miejsce_koncertu"
                        name="Miejsce_koncertu"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                        value="<%= koncert.Miejsce_koncertu %>"
                        />
                        <span id="Miejsce_koncertu_error" class="errors-text">
                            <%= validationErrors.length && validationErrors.find(err => err.path === 'Miejsce_koncertu') ? validationErrors.find(err => err.path === 'Miejsce_koncertu').message : '' %>
                        </span>
                        <br /> <br />
                    <%= (formMode == 'showDetails') ? 'Data koncertu:' : 'Podaj datę koncertu: *' %> <input
                                id="Data_koncertu"
                                name="Data_koncertu"
                                type="date"
                                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                                value="<%= koncert.Data_koncertu instanceof Date ? koncert.Data_koncertu.toISOString().split('T')[0] : koncert.Data_koncertu  %>"
                        />
                        <span id="Data_koncertu_error" class="errors-text">
                            <%= validationErrors.length && validationErrors.find(err => err.path === 'Data_koncertu') ? validationErrors.find(err => err.path === 'Data_koncertu').message : '' %><br /> <br />
                        </span> <br />
                    <%= (formMode == 'showDetails') ? 'Maksymalna ilość osób:' : 'Podaj maksymalną ilość osób:' %><input
                                type="number"
                                id="max_ilosc"
                                name="Maksymalna_ilosc_miejsc"
                                min="0"
                                max="100000"
                                placeholder="200"
                                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                                value="<%= koncert.Maksymalna_ilosc_miejsc %>"
                        /><br /> <br />
                    <%= (formMode == 'showDetails') ? 'Czas trwania koncertu:' : 'Podaj czas trwania koncertu:' %><input
                                type="number"
                                id="czas_trwania"
                                name="Czas_trwania_koncertu"
                                min="1"
                                max="100000"
                                placeholder="120"
                            <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                                value="<%= koncert.Czas_trwania_koncertu %>"
                                />

                    </br></br> <br />
                    <%if (formMode != 'showDetails') { %>
                        <input type="submit" value="Dodaj koncert" />
                        <input type="reset" value="Wyczyść dane" />
                    <% } %>

                </div></form><br />
                <h2>
                    Szczegóły Koncertu
                </h2>
                <table class="tg">
                    <thead>
                    <tr>
                        <th class="tg-0lax">Numer rezerwacji</th>
                        <th class="tg-0lax">Miejsce Koncertu</th>
                        <th class="tg-0lax">Data koncertu</th>
                        <th class="tg-0lax">Ilość osób</th>
                        <th class="tg-0lax">Szczegóły</th>
                        <th class="tg-0lax">Edytuj</th>
                        <th class="tg-0lax">Usuń</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (let rezerwacja of koncert.Rezerwacjes) { %>
                        <tr>
                            <td class="tg-0lax"><%= rezerwacja._IdRezerwacji %></td>
                            <td class="tg-0lax"><%= rezerwacja.Sluchacze.Imie %></td>
                            <td class="tg-0lax"><%= rezerwacja.Sluchacze.Nazwisko %></td>
                            <td class="tg-0lax"><%= rezerwacja.Ilosc_osob %></td>
                            <td class="tg-0lax"> <a href="/rezerwacje/details/<%= rezerwacja._IdRezerwacji %>">
                                    <button>Szczegóły</button>
                                </a></td>
                            <td class="tg-0lax"> <a href="/rezerwacje/edit/<%= rezerwacja._IdRezerwacji %>">
                                    <button>Edytuj</button>
                                </a></td>
                            <td class="tg-0lax"><a href="/rezerwacje/delete/<%= rezerwacja._IdRezerwacji %>">
                                    <button>Usuń</button>
                                </a></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>




                <a href="/koncerty">
                    <button>Powrót do koncertów</button>
                </a>
            </div>


<%- include('./fragments/footer.ejs') %>
